* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html, body {
    max-width: 100vw;
    overflow-x: hidden;
  }
.bloqueGeneral{
    min-height: 60vh;
}

#nombreyrol h1,
#nombreyrol h3{
    color: #F6F1D1;
}

#bloqueSobreMi{
    background-color: #D8E1E9;
}

#bloqueHabilidades{
    background-color: #C5D5EA;
}

#footer{
    background-color: #7392B7;
}

.redesImg {
    width: 40px;
    height: auto;
    transition: transform 0.3s ease;
}

.redesImg:hover {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .redesImg {
        width: 35px;
    }
}
